.card .btn {
    min-width: 2.4rem;
}

.product-actions {
    display: flex;
    flex-direction: column;

}

.item-count {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.sale-button {
    align-self: flex-end;
}